#modify{ /* la página actual esté de color verde en el menú */

    color: #2de233;
}
body{
    
    background-image: url("../src/playa.jpg");
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    text-align: center;
}
.principal{

    height: 49rem;
    display: flex;
    overflow: hidden;
}